{% extends "base.html" %}

{% block content %}

<section class="legal-page">

    <div class="container">

        <div class="legal-content">

            <h1>Impressum</h1>

            <h2>Angaben gemäß § 5 TMG</h2>

            <p>
            SAYEHDACH<br>
            Dachdeckermeisterbetrieb<br>
            Kordelstraße 48<br>
            54294 Trier, Deutschland
            </p>

            <h2>Kontakt</h2>

            <p>
            Telefon: 0176 22296286<br>
            E-Mail: info@sayehdach.de
            </p>

            <h2>Inhaber</h2>

            <p>
            Omid Sayeh
            </p>

            <h2>Verantwortlich für den Inhalt der Website</h2>

            <p>
            Omid Sayeh<br>
            Kordelstraße 48<br>
            54294 Trier, Deutschland
            </p>

            <h2>Haftungsausschluss</h2>

            <p>
            Die Inhalte unserer Website wurden mit größter Sorgfalt erstellt.
            Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
            jedoch keine Gewähr übernehmen.
            </p>

            <p>
            Trotz sorgfältiger Kontrolle übernehmen wir keine Haftung für die Inhalte
            externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich
            deren Betreiber verantwortlich.
            </p>

            <h2>Urheberrecht</h2>

            <p>
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf dieser Website
            unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung,
            Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts
            bedürfen der schriftlichen Zustimmung des jeweiligen Autors beziehungsweise
            Erstellers.
            </p>

            <p>
            Soweit die Inhalte auf dieser Website nicht vom Betreiber erstellt wurden,
            werden die Urheberrechte Dritter beachtet.
            </p>


        </div>

    </div>

</section>

{% endblock %}